@mixin paragraph {
  display: flex;
  justify-content: center;
  align-item: center;
  margin: 10px;
  padding: 10px;
  flex-direction: column;
  color: grey;
 }
$theme-color: darkblue;

.paragraph-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  
}

.first-paragraph {
  @include paragraph;
  background-color: $theme-color;
  
  }

.second-paragraph {
  @include paragraph;
  $theme-color: red;
  background-color: $theme-color;    
}

